@media (max-width: 1600px) {
    .site{
        display:block;
        margin-left:5%;
        margin-right:5%;
        margin-top:5%;
      }
      .button-discord{
        right: 10%;
      }
}
@media (max-width: 1150px) {
    .site{
        display:table;
        margin-left:auto;
        margin-right:auto;
        margin-top:5%;
      }
      .box{
        display:table;
      }
      .contenu{
        margin-left:auto;
        margin-right:auto;
      }
      .button-discord{
        right: 10%;
      }

      #rocket{
        display:none;
      }
    .navigation{
        display:none;
     }

     .header.navigation  { 
      display: none;  
      flex-direction: column;  
      background: #48435C; 
      height: 220px; 
    }  
      .header.navigation a {  
          width: 50%; 
      }  
    #toggle:checked + .navigation {  
          display: flex; 
    }  
  }